{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | foros{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>
        .contenido{
            margin-top: 44px;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>

    </script>
{% endblock %}

{% block contenido %}
    <div class="div-leccion">
        {% for obj in foros %}
            <section class="contenido">
                <div class="panel panel-info">
                    <div class="panel-heading">{{ obj.tema }}</div>
                    <div class="panel-body">
                        <a href="#">{{ obj.pregunta }}</a>
                        <div>
                            Publicado por: {{ obj.persona.first_name }}
                        </div>
                        <div>
                            # Visitas: {{ obj.numero_visitas }}
                        </div>
                        <div>
                            # Respuestas {{ obj.get_num_resp }}
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>

{% endblock %}


{% block bootstrap %}

{% endblock %}
