{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | Foro{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">

{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>

    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
        {% for obj in foros %}
            <section class="contenido">
            <h1 class="titulo">LUS: Foro</h1>
                <div class="panel panel-intro">
                    <div class="panel-heading">
                        <h2 class="sub-titulo"><a href="{% url "responder_foro" obj.id%}" class="ir-articulo">{{ obj.tema }}</a></h2>
                    </div>
                    <div class="panel-body">
                        <div class="row row-item-foro margin-0">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-0 col-pregunta">
                                {% if obj.pregunta|length > 50 %}
                                    <p><strong>{{ obj.pregunta|slice:"0:50" }}</strong>...</p>
                                    <a href="{% url "responder_foro" obj.id%}" class="leer-mas">Leer más</a>
                                {% else %}
                                    <p><strong>{{ obj.pregunta }}</strong></p>
                                    <a href="{% url "responder_foro" obj.id%}" class="leer-mas">Leer más</a>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-pregunta">
                                <p>
                                    Publicado por: {{ obj.persona.first_name }}
                                </p>
                                <p>
                                    Nº Visitas: {{ obj.numero_visitas }}
                                </p>

                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-pregunta">
                                <p>
                                    Creado: {{ obj.fecha_creacion|date:"d/m/Y" }}
                                </p>
                                <p>
                                    Nº Respuestas: {{ obj.get_num_resp }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
    </div>
{% endblock %}


{% block bootstrap %}

{% endblock %}
