{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | foros{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>
        .icon-like{
            color: #00AE8D;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
    <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foro.js"></script>
    <script>
        function get_num_votos(id){
            var num_votos = 0;
            $.ajax(
            {
                url: "{% url "get_num_votos" %}",
                type: 'POST',
                async: false,
                cache: false,
                timeout: 10000,
                data: {"id": id},
                beforeSend: function(msj){
                },
                error: function(){
                    alert("error");
                },
                success: function(data)
                {
                    if(data.status == 1)
                    {
                        num_votos = parseInt(data.num_votos)
                    }
                    else
                    {
                        num_votos = 0
                    }
                }
            });
            return num_votos
        }

        function like_comentario(id, obj, opt) {
            $.ajax(
            {
                url: "{% url "like_comentario" %}",
                type: 'POST',
                async: false,
                cache: false,
                timeout: 10000,
                data: {"id": id, "opt": opt},
                beforeSend: function(msj){
                },
                error: function(){
                    alert("error");
                },
                success: function(data)
                {
                    if(data.status == 1)
                    {
                        $(obj).attr("disabled",true);
                        var num_votos = get_num_votos(id);
                        var cont = $(obj).closest(".contenido");
                        var votos = cont.find(".num_votos");
                        if ($(obj).hasClass('glyphicon-thumbs-up'))
                        {
                            $(obj).removeClass('glyphicon-thumbs-up');
                            $(obj).addClass('glyphicon-thumbs-down');
                        }
                        else
                        {
                            $(obj).removeClass('glyphicon-thumbs-down');
                            $(obj).addClass('glyphicon-thumbs-up');
                        }
                        votos.text(num_votos);
                    }
                    else
                    {
                        $(obj).attr("disabled",false);
                    }
                }
            });
        }

        function CKupdate(){
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
        }
        function CKupdateClear(){
        for ( instance in CKEDITOR.instances )
            CKEDITOR.instances[instance].updateElement();
            CKEDITOR.instances[instance].setData('');
        }
        jQuery(document).ready(function($)
        {
            $(".like-hand").click(function(){
                var id = $(this).attr("data-id");
                if ($(this).hasClass('glyphicon-thumbs-up'))
                    like_comentario(id, this, 1);
                else
                    like_comentario(id, this, 2);
            });

            $( 'textarea#nuevo_comentario' ).ckeditor();
            CKEDITOR.config.toolbar = [[ 'Source', '-', 'Bold', 'Italic' ]];

            var url = "{% url "responder_foro" id %}";

            $("#submit-comentario").click(function(e){
                e.preventDefault();
                var datastring = $("#formulario").serialize();
                $.ajax(
                {
                    url: url,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 10000,
                    data: datastring,
                    beforeSend: function(msj){
                    },
                    error: function(){
                        alert("error");
                    },
                    success: function(data)
                    {
                        $("#comentarios").append(data).fadeIn("slow");
                        $("#formulario")[0].reset();
                        CKupdateClear();
                        $("#sin-comentarios").remove();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
            <section>
                <header>

                    <article>
                        <div class="panel panel-intro">
                            <div class="panel-heading"><h2 class="sub-titulo">{{ foro.tema }}</h2></div>
                            <div class="panel-body">
                               {{ foro.pregunta }}
                            </div>
                        </div>

                    </article>
                </header>
            </section>
            <section id="comentarios">
                {% if foro.get_respuestas %}
                    <h2 class="sub-titulo">Comentarios:</h2>
                    {% for obj in foro.get_respuestas %}
                        <section class="contenido">
                            <div class="panel panel-info">
                                <div class="panel-heading">Publicado por: {{ obj.persona.first_name }}</div>
                                <div class="panel-body">
                                    {{ obj.comentario|safe }}
                                    <div>
                                        # Votos: <span class="num_votos">{{ obj.get_numero_votos }}</span>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="icon-like">
                                            <span class="like-hand glyphicon glyphicon-thumbs-up" data-id="{{ obj.id }}"></span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                {% else %}
                   <section id="sin-comentarios">
                        <div class="panel panel-info">
                                <div class="panel-heading"><h2 class="sub-titulo">Comentarios</h2></div>
                                <div class="panel-body">
                                    <p>Actualmente no existen comentarios para este tema.</p>
                                </div>
                            </div>
                   </section>
                {% endif %}
            </section>
            {% if request.user.is_authenticated %}
                <section class="contenido">
                    <form id="formulario">
                        <label>Agregar Comentario</label>
                        <textarea name="respuesta" id="nuevo_comentario"></textarea>
                        <div class="botones-finalizar">
                            <button  id="submit-comentario" class="btn btn-finalizar" onclick="CKupdate()">Comentar</button>
                        </div>
                    </form>
                </section>
            {% else %}
                <section class="contenido">
                    <p>Para Comentar en el Foro, necesitas estar registrado</p>
                </section>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block bootstrap %}

{% endblock %}
