{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | foros{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>
        .icon-like{
            color: #00AE8D;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
    <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foro.js"></script>
    <script>
        function CKupdate(){
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
        }
        function CKupdateClear(){
        for ( instance in CKEDITOR.instances )
            CKEDITOR.instances[instance].updateElement();
            CKEDITOR.instances[instance].setData('');
        }
        jQuery(document).ready(function($) {

            $( 'textarea#nuevo_comentario' ).ckeditor();

                        CKEDITOR.config.toolbar = [
                [ 'Source', '-', 'Bold', 'Italic' ]
            ];
            //CKEDITOR.config.removePlugins = 'elementspath';

            //config.removeButtons = 'Anchor,Underline,Strike,Subscript,Superscript';
            //CKEDITOR.config.hideDialogFields="image:info:htmlPreview";
            //CKEDITOR.config.removePlugins = ['elementspath','save','font'];
            //CKEDITOR.config.removeButtons = ['Anchor','Underline,Strike','Subscript','Superscript'];


            var url = "{% url "responder_foro" id %}";

            $("#submit-comentario").click(function(e){
                e.preventDefault();
                var datastring = $("#formulario").serialize();
                $.ajax(
                {
                    url: url,
                    type: 'POST',
                    async: false,
                    cache: false,
                    timeout: 10000,
                    data: datastring,
                    beforeSend: function(msj){
                    },
                    error: function(){
                        alert("error");
                    },
                    success: function(data)
                    {
                        $("#comentarios").append(data).fadeIn("slow");
                        $("#formulario")[0].reset();
                        CKupdateClear();
                        $("#sin-comentarios").remove();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
            <section>
                <header>

                    <article>
                        <div class="panel panel-intro">
                            <div class="panel-heading"><h2 class="sub-titulo">{{ foro.tema }}</h2></div>
                            <div class="panel-body">
                               {{ foro.pregunta }}
                            </div>
                        </div>

                    </article>
                </header>
            </section>
            <section id="comentarios">
                {% if foro.get_respuestas %}
                    <h2 class="sub-titulo">Comentarios:</h2>
                    {% for obj in foro.get_respuestas %}
                        <section class="contenido">
                            <div class="panel panel-info">
                                <div class="panel-heading">Publicado por: {{ obj.persona.first_name }}</div>
                                <div class="panel-body">
                                    {{ obj.comentario|safe }}
                                    <div>
                                        # Votos: {{ obj.numero_votos }}
                                    </div>
                                    <div class="icon-like">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                {% else %}
                   <section id="sin-comentarios">
                        <div class="panel panel-info">
                                <div class="panel-heading"><h2 class="sub-titulo">Comentarios</h2></div>
                                <div class="panel-body">
                                    <p>Actualmente no existen comentarios para este tema.</p>
                                </div>
                            </div>
                   </section>
                {% endif %}
            </section>
            {% if request.user.is_authenticated %}
                <section class="contenido">
                    <form id="formulario">
                        <label>Agregar Comentario</label>
                        <textarea name="respuesta" id="nuevo_comentario"></textarea>
                        <div class="botones-finalizar">
                            <button  id="submit-comentario" class="btn btn-finalizar" onclick="CKupdate()">Comentar</button>
                        </div>
                    </form>
                </section>
            {% else %}
                <section class="contenido">
                    <p>Para Comentar en el Foro, necesitas estar registrado</p>
                </section>
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block bootstrap %}

{% endblock %}
