{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | foros{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>
        .icon-like{
            color: #00AE8D;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
    <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $( 'textarea#nuevo_comentario' ).ckeditor();
            $()
        });
    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
        <section>
            <header>

                <article>
                    <div class="panel panel-intro">
                        <div class="panel-heading"><h2 class="sub-titulo">{{ foro.tema }}</h2></div>
                        <div class="panel-body">
                           {{ foro.pregunta }}
                        </div>
                    </div>

                </article>
            </header>
        </section>
        {% if foro.get_respuestas %}
            <h2 class="sub-titulo">Comentarios:</h2>
            {% for obj in foro.get_respuestas %}
                <section class="contenido">
                    <div class="panel panel-info">
                        <div class="panel-heading">Publicado por: {{ obj.persona.first_name }}</div>
                        <div class="panel-body">
                            {{ obj.comentario }}
                            <div>
                                # Votos: {{ obj.numero_votos }}
                            </div>
                            <div class="icon-like">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </div>

                        </div>
                    </div>
                </section>
            {% endfor %}
        {% else %}
           <section>
                <div class="panel panel-info">
                        <div class="panel-heading"><h2 class="sub-titulo">Comentarios</h2></div>
                        <div class="panel-body">
                            <p>Actualmente no existen comentarios para este tema.</p>
                        </div>
                    </div>
           </section>
        {% endif %}
        <section class="contenido">
            <form id="formulario">
                <label>Agregar Comentario</label>
                <textarea name="respuesta" id="nuevo_comentario"></textarea>
                <button>Enviar</button>
            </form>
        </section>
    </div>

{% endblock %}


{% block bootstrap %}

{% endblock %}
