{% extends 'base.html' %}
{% block title %}Safephone | Capítulo 2{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>
        .inhabilitado{
            color: rgba(218, 219, 220, 0.7) !important;
        }
        .empaniar{
            color: #00ae8d !important;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>

    <script>
    var enableSubmit = function(ele) {
        $(ele).removeAttr("disabled");
    };


    function cargar_contenido(n_cap)
    {
        var capitulo = n_cap;
        var sig = $("#siguiente");
        var ant = $("#anterior");

        $.ajax({
            type: "POST",
            url: "{% url "capitulo2_view" %}",
            cache: false,
            data: {'capt': capitulo},
            success : function(data) {
                var contenido = $('#contenido');
                contenido.html("");
                jQuery("#contenido").fadeOut( 100 , function() {
                    $(this).html(data);
                    contenido.find("#siguiente").click(function(){
                        cambiar_capitulo(1);
                    });
                    contenido.find("#anterior").click(function(){
                        cambiar_capitulo(2);
                    });
                    contenido.find(".pag").each(function(){
                        $(this).click(function(){
                            cambiar_capitulo(this);
                        });
                    });
                    $(".capitulo-intro").niceScroll({touchbehavior:false,cursorcolor:"#00F",
                            cursoropacitymax:0.7,cursorwidth:11,cursorborder:"1px solid #2848BE",
                            cursorborderradius:"8px",background:"#ccc",
                            autohidemode:false}).cursor.css({"background":"gray"}); // MAC like scrollbar

                    //Animaciones
                    $('.cap-img-principal').delay(1000).animate({opacity:'1',top:0},2000);
                }).fadeIn( 2500 );
             }
        });
    }

    function cambiar_capitulo(n_cap)
    {
        var capitulo = n_cap;
        var sig = $("#siguiente");
        var ant = $("#anterior");

        if(capitulo != 0  && capitulo != "-1")
        {
            if(n_cap == 1)
            {
                capitulo = $("#n_cap").attr("data-next");
                $(sig).attr("disabled", true).addClass("empaniar");
            }
            else
            {
                capitulo = $("#n_cap").attr("data-before");
                $(ant).attr("disabled", true).addClass("empaniar");
            }
            $.ajax({
                type: "POST",
                url: "{% url "capitulo2_view" %}",
                cache: false,
                data: {'capt': capitulo},
                success : function(data) {
                    var contenido = $('#contenido');
                    contenido.html("");
                    jQuery("#contenido").fadeOut( 100 , function() {
                        $(this).html(data);

                        $(".capitulo-intro").niceScroll({touchbehavior:false,cursorcolor:"#00F",
                            cursoropacitymax:0.7,cursorwidth:11,cursorborder:"1px solid #2848BE",
                            cursorborderradius:"8px",background:"#ccc",
                            autohidemode:false}).cursor.css({"background":"gray"}); // MAC like scrollbar

                        //Animaciones
                        $('.cap-img-principal').delay(1000).animate({opacity:'1',top:0},2000);
                        if(capitulo == "-1")
                        {
                            sig.attr("disabled", true).addClass("inhabilitado");
                        }
                        else
                        {
                            sig.show().removeClass("inhabilitado");
                            ant.show();
                        }
                    }).fadeIn( 2500 );
                 }
            });

            if(n_cap == 1)
                setTimeout(function() { enableSubmit(sig); $(sig).removeClass("empaniar") }, 2500);
            else
                setTimeout(function() { enableSubmit(ant); $(ant).removeClass("empaniar") }, 2500);
        }
    }
    $(function(){
        cargar_contenido(0);

        $("#siguiente").click(function(e){
            e.preventDefault();
            if(!$(this).attr("disabled"))
                cambiar_capitulo(1);
        });

        $("#anterior").click(function(e){
            e.preventDefault();
            if(!$(this).attr("disabled"))
                cambiar_capitulo(2)});

    });
    </script>
{% endblock %}

 {% block contenido %}


 {% endblock %}


{% block bootstrap %}

{% endblock %}
