{% extends 'base.html' %}
{% load snnipet_generales %}
{% block title %}LUS | Capítulo 1{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>
         $(document).ready(function() {

            //$(".capitulo-intro").niceScroll({touchbehavior:false,cursorcolor:"#00F",cursoropacitymax:0.7,cursorwidth:11,cursorborder:"1px solid #2848BE",cursorborderradius:"8px",background:"#ccc",autohidemode:false}).cursor.css({"background":"gray"}); // MAC like scrollbar

             //Animaciones
             //$('.cap-img-principal').delay(1000).animate({opacity:'1',top:0},2000);
         });
    </script>

    <script>

    function cargar_contenido(n_cap)
    {
        var capitulo = n_cap;
        if(capitulo != 0)
        {
            if(n_cap == 1)
                capitulo = $("#n_cap").attr("data-next");
            else
                capitulo = $("#n_cap").attr("data-before");
        }

        $.ajax({
            type: "POST",
            url: "{% url "capitulo1_view" %}",
            cache: false,
            data: {'capt': capitulo},
            success : function(data) {
                $('#contenido').html("");
                jQuery("#contenido").fadeOut( 100 , function() {
                    $(this).html(data);
                    $('#contenido').find("#siguiente").click(function(){
                        cambiar_capitulo(1);
                    });
                    $('#contenido').find("#anterior").click(function(){
                        cambiar_capitulo(2);
                    });
                    $('#contenido').find(".pag").each(function(){
                        $(this).click(function(){
                            cambiar_capitulo(this);
                        });
                    })
                    $(".capitulo-intro").niceScroll({touchbehavior:false,cursorcolor:"#00F",
                            cursoropacitymax:0.7,cursorwidth:11,cursorborder:"1px solid #2848BE",
                            cursorborderradius:"8px",background:"#ccc",
                            autohidemode:false}).cursor.css({"background":"gray"}); // MAC like scrollbar

                    //Animaciones
                    $('.cap-img-principal').delay(1000).animate({opacity:'1',top:0},2000);
                }).fadeIn( 2500 );
             }
        });
    }
    function cambiar_capitulo(n_cap)
    {
        var capitulo = 0;
        if(n_cap == 1)
            capitulo = $("#n_cap").attr("data-next");
        else
            capitulo = $("#n_cap").attr("data-before");

        if(capitulo != 0)
        {
            $.ajax({
                type: "POST",
                url: "{% url "capitulo1_view" %}",
                cache: false,
                data: {'capt': capitulo},
                success : function(data) {
                    $('#contenido').html("");
                    jQuery("#contenido").fadeOut( 100 , function() {
                        $(this).html(data);
                        $('#contenido').find("#siguiente").click(function(){
                            cambiar_capitulo(1);
                        });
                        $('#contenido').find("#anterior").click(function(){
                            cambiar_capitulo(2);
                        });
                        $('#contenido').find(".pag").each(function(){
                            $(this).click(function(){
                                cambiar_capitulo(3);
                            });
                        });
                        $(".capitulo-intro").niceScroll({touchbehavior:false,cursorcolor:"#00F",
                            cursoropacitymax:0.7,cursorwidth:11,cursorborder:"1px solid #2848BE",
                            cursorborderradius:"8px",background:"#ccc",
                            autohidemode:false}).cursor.css({"background":"gray"}); // MAC like scrollbar

                        //Animaciones
                        $('.cap-img-principal').delay(1000).animate({opacity:'1',top:0},2000);
                    }).fadeIn( 2500 );
                 }
            });
        }

    }
    $(function(){
        cargar_contenido(0);
        $("#siguiente").click(function(){cambiar_capitulo(1)});
        $("#anterior").click(function(){cambiar_capitulo(2)});
        //$(".pag").click(function(){cambiar_capitulo(this)});
    });
    </script>
{% endblock %}

 {% block contenido %}


 {% endblock %}


{% block bootstrap %}

{% endblock %}
