{% extends 'base.html' %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block title %}LUS | Registro{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block scripts %}
{% endblock %}
{% block body-class %}body-login{% endblock %}
 {% block contenido %}
     <div class="container container-login padding-0">
        <div class="row row-login margin-0">
            <!--
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3"></div>
            -->
            <div class="col-md-6 col-md-offset-3">
                <div class="formulario-login">
                    <div class="main-logo">

                        <h2>Información de Registro</h2>
                    </div>
                    <form class="formulario"  action="{% url "registrarse" %}" method="POST" autocomplete="off">{% csrf_token %}
                        <div class="form-group">
                            <div class="input-group {% if form.nombre.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.nombre|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.nombre.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.apellido.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.apellido|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.apellido.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group group-sexo {% if form.sexo.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-female fa-uno"></i><i class="fa fa-male fa-dos"></i></span>
                                {{ form.sexo|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.sexo.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.usuario.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.usuario|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.usuario.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.contrasenia.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.contrasenia|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.contrasenia.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.r_contrasenia.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                {{ form.r_contrasenia|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.r_contrasenia.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.email.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                {{ form.email|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.email.errors }}</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group {% if form.r_email.errors %}has-error{% endif %}">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                {{ form.r_email|add_class:"input-text form-control" }}
                            </div>
                            <label class="help-block text-danger" for="">{{ form.r_email.errors }}</label>
                        </div>

                        <div class="clearfix"></div>
                        <input type="submit" class="btn btn-ok" value="Registrarse">
                    </form>
                    <div class="mensajes-login">
                        {% if messages %}
                             {% for message in messages %}

                                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <div class="media">
                                        <figure class="pull-left alert--icon">
                                            {% if message.tags %}
                                                {% if message.tags == "error" %}
                                                <i class="pe-7s-close-circle"></i>
                                                {% else %}
                                                <i class="pe-7s-info"></i>

                                                {% endif %}
                                            {% endif %}

                                        </figure>
                                        <div class="media-body">

                                            <p class="alert--text">{{ message }}.</p>
                                        </div>
                                    </div>
                                </div>
                             {% endfor %}
                        {% endif %}
                    </div>
                    <div class="enalces-cuenta">
                        <a class="link-cuenta" href="{% url "inicio_view" %}">Regresar al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
     </div>

 {% endblock %}


{% block bootstrap %}
    <script>
        jQuery(document).ready(function($) {
            $('.cmb-select').selectpicker();
        });
    </script>
{% endblock %}