{% load snnipet_generales %}
    <div class="container container-capitulo padding-0" id="n_cap" data-next="{{ next }}" data-before="{{ before }}">
        <div class="row row-capitulo margin-0">
             <div class="col-xs-12 col-lg-4 col-md-4  col-sm-4 col-intro padding-0">
                <div class="capitulo-intro">
                    {% pintar_texto subcap %}
                </div>
             </div>
            <div class="col-xs-12 col-lg-8 col-md-8  col-sm-8 col-intro padding-0">
                {% pintar_imagen img %}
            </div>
        </div>
    </div>