{% extends 'base.html' %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block title %}Safephone | Bienvenidos{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block scripts %}
{% endblock %}

 {% block contenido %}
     <!--
    <div class="container container-banner padding-0">
        <div class="container container-intro padding-0" style="margin-bottom: 120px;">
        <div class="wrapper login-page">

		<div class="row mtop-100">
			<div class="col-md-4 col-md-offset-4 clearfix bg--dark">

				<div class="main-logo">
                    <p><img src="{{ STATIC_URL }}cm_html/images/logo.png"></p>
					<p>Bienvenidos a LUS</p>
				</div>
                <form class="formulario"  action="{% url "login" %}" method="POST" autocomplete="off">{% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="pe-7f-user pe-fw"></i></span>
                        {{ form.usuario|add_class:"input-text form-control" }}
                    </div>
                    <div class="input-group mtop-25">
                        <span class="input-group-addon"><i class="pe-7f-lock pe-fw"></i></span>
                        {{ form.contrasenia|add_class:"input-text form-control" }}
                    </div>
                        {{ form.next }}
                    <div class="clearfix"></div>
                    <input type="submit" class="btn btn-skyorange pull-right" value="Login">
                </form>
                <div class="mensajes-login">
                    {% if messages %}
                         {% for message in messages %}

                            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
							    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <div class="media">
                                    <figure class="pull-left alert--icon">
                                        {% if message.tags %}
                                            {% if message.tags == "error" %}
                                            <i class="pe-7s-close-circle"></i>
                                            {% else %}
                                            <i class="pe-7s-info"></i>

                                            {% endif %}
                                        {% endif %}

                                    </figure>
                                    <div class="media-body">

                                        <p class="alert--text">{{ message }}.</p>
                                    </div>
                                </div>
						    </div>
                         {% endfor %}
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
    </div>
    </div>
    -->
 {% endblock %}


{% block bootstrap %}

{% endblock %}








<!--
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LUS - Ingreso al Sistema</title>

	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
</head>
<body>






	<script type="text/javascript" src="{{ STATIC_URL }}js/js_jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/js_jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

-->