{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | Lecciones{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>

    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
            <section class="contenido">
                <h1 class="titulo">Lecciones</h1>
                {% if lecciones %}
                    {% for leccion in lecciones %}
                    <div class="panel panel-intro">
                        <div class="panel-heading">
                           <h2 class="sub-titulo"><a href="{% url "leccion" leccion.id %}" class="ir-articulo">{{ leccion.nombre }}</a></h2>
                        </div>
                        <div class="panel-body">

                            <p>
                            </p>
                            {% if request.user.is_authenticated %}
                                <a href="{% url "leccion" leccion.id %}" class="leer-mas">Tomar Lección</a>
                            {% else %}
                                <a href="#" class="leer-mas">Para tomar esta lección debes estar registrado</a>
                            {% endif %}

                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="panel panel-info">
                        <div class="panel-heading">Lista de Lecciones</div>
                        <div class="panel-body">

                            <p>
                                Actualmente no existe lecciones disponibles.
                            </p>
                        </div>
                    </div>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}


{% block bootstrap %}

{% endblock %}
