{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | Lecciones{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">
    <style>

    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>

    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
            <section class="contenido">
                <h1 class="titulo">Lecciones</h1>
                {% if lecciones %}
                    {% for leccion in lecciones %}
                    <div class="panel panel-intro">
                        <div class="panel-heading">
                           <h2 class="sub-titulo"><a href="{% url "leccion" leccion.id %}" class="ir-articulo">{{ leccion.nombre }}</a></h2>
                        </div>
                        <div class="panel-body">

                            <p>
                                Facebook Inc cerró este lunes su adquisición del servicio de mensajería móvil WhatsApp, con el precio final creciendo en 3.000 millones de dólares adicionales, hasta casi los 22.000 millones, debido al incremento del valor de las acciones de la red social en los últimos meses.
                                Facebook Inc cerró este lunes su adquisición del servicio de mensajería móvil WhatsApp, con el precio final creciendo en 3.000 millones de dólares adicionales, hasta casi los 22.000 millones, debido al incremento del valor de las acciones de la red social en los últimos meses.

                            </p>
                            <a href="{% url "leccion" leccion.id %}" class="leer-mas">Tomar Lección</a>

                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="panel panel-info">
                        <div class="panel-heading">Lista de Lecciones</div>
                        <div class="panel-body">

                            <p>
                                Actualmente no existe lecciones disponibles.
                            </p>
                        </div>
                    </div>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}


{% block bootstrap %}

{% endblock %}
