{% extends 'base.html' %}
{% load snnipet_generales %}
{% load snnipet_leccion %}
{% block title %}LUS | Contenido{% endblock %}

{% block stylesheet %}
    <link href="{{ STATIC_URL }}css/capitulo.css" rel="stylesheet">

{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery.nicescroll.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".titulo-acordion").click(function(){
                var i = $(this).find("i");
                if ($(this).hasClass("collapsed"))
                {
                    i.removeClass("fa-chevron-right");
                    i.addClass("fa-chevron-down");
                }
                else
                {
                    i.removeClass("fa-chevron-down");
                    i.addClass("fa-chevron-right")
                }
            });
        });
    </script>
{% endblock %}

{% block contenido %}
    <div class="row row-leccion margin-0">
        <div class="div-leccion">
            <h1 class="titulo">Contenido</h1>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    {% for obj in capitulos %}
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="titulo-acordion" data-toggle="collapse" data-parent="#accordion" href="#{{ obj.id }}">
                                    <i class="fa fa-chevron-down"></i>{{ obj.nombre }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ obj.id }}" class="panel-collapse collapse in">
                        {% for obj_sc in obj.get_subcapitulos %}
                            <div class="panel-body">
                                <a href="{% url "leer_capitulo" obj_sc.id %}">{{ obj_sc.titulo }}</a>
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bootstrap %}

{% endblock %}
