*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
html,body{
    height: 100%;
}

h1, .h1 {
    font-size: 28px;
    font-weight: 500;

}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: inherit;
    margin-bottom: inherit;
    font-weight: 500;
}
.margin-0{
    margin: auto !important;
}
.padding-0{
    padding-left: 0 ;
    padding-right: 0 ;
}
.container-header{
    width: 100%;
    background: #31353D;
    display: table;
    height: 60px;
    border-top: 4px solid #8dbf41;
    border-bottom: 4px solid #8dbf41;
}
.row-header{
    width: 78%;
    display: table-cell;
    vertical-align: middle;
}
.col-email{
}
.email-icono, .phone-icono{
    height: 40px;
    width: 34px;
    background: #8dbf41;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon-like {
    color: #8dbf41 !important;
}

.logo{

    margin-top: 8px;
}

.logo img{
    margin-top: 10px;
}

.mail-label, .phone-label{
    position: absolute;
    top: 12px;
    left: 70px;
    color: #ffffff;
}
.container-nav{
    width: 100%;
    background: rgba(218,219,220, 0.7);
    display: table;
    height: 44px;
    position: absolute;
    z-index: 1;
}
.row-nav{
    width: 78%;
    display: table-cell;
    vertical-align: middle;
}

.ul-nav{
    float: inherit !important;
    text-align: center;
}

.ul-nav>li{
    float: inherit !important;
    display: inline-block;
}
.menu-nav{
    background: none;
    border: none;
    margin-bottom: 0;
}

.ul-nav>li a{
    color: #FFF!important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.ul-nav>li a:hover,.ul-nav>li a:focus{
    color: #8dbf41 !important;
    background: none !important;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.ul-nav>li a.active{
    color: #8dbf41 !important;
}

.ul-nav>li.open ul.dropdown-menu{
    background:  rgba(57,64,73, 0.7);
    border-top: 3px solid #8dbf41;
    margin-top: 0px;
}

.ul-nav>li.open ul.dropdown-menu li a{
    color: #ffffff !important;
    text-transform: inherit;
    font-weight: normal;
    border-bottom: 1px solid #8dbf41;
    margin: 0px 5px;
    padding: 8px 20px;
}

.ul-nav>li.open ul.dropdown-menu li:last-child a{
    border-bottom: none;
}

.ul-nav>li.open ul.dropdown-menu li a:hover{
    color: #8dbf41 !important;
    background: none;
}

.container-footer{
    width: 100%;
    background: #31353D;
    display: table;
    height: 76px;
    padding: 10px 0px;
    border-top: 5px solid #333E48;
}
.row-footer{
    width: 78%;

}
.derechos-left{
    color: #ffffff;
    text-align: left;
    font-size: 11px;
    line-height: 4;
    margin: 0px;
    position: absolute;
    left: 0px;
}

.derechos-centro{

    position: absolute;
    left: 48%;
    margin: 0px;
}

.derechos-right{
    color: #ffffff;
    text-align: right;
    font-size: 11px;
    line-height: 4;
    margin: 0px;
    position: absolute;
    right: 0px;
}

.container-banner{
    width: 100%;
    height: 50%;
    display: table;
    border-bottom: 5px solid #8dbf41;
    background: url("../img/foto_banner.jpg") no-repeat;
    background-size: cover;
    background-position: center 60%;
}

.row-banner{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.banner-imagen{
    width: 100%;
}

.container-intro{
     width: 100%;
    display: table;
    background: #ffffff;
}



.row-intro{
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0px;
}



.col-intro h2{
   color: #8dbf41;
    font-size: 28px;
    padding-bottom: 20px;
}

.col-intro p{
    font-size: 14px;
}

.row-intro2{
    padding-bottom: 0px !important;
    margin-bottom: 20px;
    padding-top: 0px;
}

.col-intro2 h2{
    margin-bottom: 20px;
}

.col-intro-first{
    padding-right: 60px;
}


.col-intro-centro{
    padding: 0 30px;
}



.col-intro-last{
    padding-left: 60px;
}


.banner-inicio{
    background: red;
    width: 100%;
    height: 50%;
}

.paginadores{
    cursor: pointer;
    text-align: center;
}
.paginadores i{
    color: #333e48;
}

.navbar-nav>li>a {
    padding: 5px 11px !important;
}
.navbar{
    min-height: 42px;
    float: right;
    top: 8px;
}

.p-titulo{
    font-size: 20px !important;
}

.p-titulo i{
    color: #585858;
    font-size: 24px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.titulo-acordion i{
    padding-right: 10px;
    position: relative;
    top: -2px;
}

.panel-body a,.panel-body a:hover{
    color: #FFF;
    text-decoration: none;
}

.panel-body {
    background: #31353D;
    color: #fff;
}

.capitulo-intro h3{
    padding-bottom: 20px;
    text-align: left;
}
.errorlist{
    list-style: none;
    margin-bottom: -10px;
}

.errorlist li{
    padding-left: 60px;
    font-weight: 300;
}

.acceso{
    float: right;
    list-style: none;
    margin-bottom: 0px;
    position: relative;
    top: 8px;
}

.acceso li{
    display: inline-block;
}

.acceso li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.acceso li a:hover{
    color: #8dbf41;
    text-decoration: none;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.acceso li a i{
    margin-right: 10px;
}



.container-login{
    width: 1024px;
}

.row-login{
    width: 100%;
    min-height: 400px;
    margin-bottom: 100px;
    padding-bottom: 150px;
}

.col-login{
    margin: auto;
}

.formulario-login{
    margin: auto;
    margin-top: 50px;
    width: 100%;
}


.formulario-login h2{
    text-align: center;
    font-size: 28px;
    color: #8dbf41;
    font-weight: normal;
    margin-bottom: 20px;
}

.input-group{
    margin-bottom: 6px;
}
.input-group-addon i{
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
}
.input-text{
    padding: 5px 10px;

}

.form-control{
    height: 44px;
    text-decoration: none;
}

.form-control:focus,.form-control:hover{
    text-decoration: none;
    box-shadow: none;

}

.btn{
    padding: 10px 20px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    height: 50px;
}
.btn-ok{
    width: 100%;

}

.mensajes-login{
    margin-top: 10px;
}

.mensajes-login p{
    font-size: 12px;
}

.alert-danger{
    background: #FFF;
    border: 1px solid #E02727;
    color: #000;
    text-align: center;
}

.close{
    opacity: 1;
}

.fa-email{
    font-weight: bold;
}

.fa-uno{
   position: absolute;
   top: 6px;
   left: 4px;
}

.fa-dos{
    position: relative;
    top: -1px;
    left: 8px;
}

.cmb-select{
    width: 100% !important;
}

.cmb-select .dropdown-toggle{
    height: 44px;
    border-radius: 0px 3px 3px 0px;
}

.cmb-select .dropdown-menu{
    z-index: 1000;
}

.group-sexo{
    z-index: 10;
}

.enalces-cuenta{
    margin-top: 30px;
    text-align: center;
}

.enalces-cuenta a,.enalces-cuenta a:hover,.enalces-cuenta a:focus{

    color: #8dbf41;
    text-decoration: none;
    margin: 5px 0px;
}

.media, .media .media {
    margin-top: 5px;
}

.alert{
    padding:5px 30px !important;
}