.container-capitulo{
    width: 100%;
    /*#376FE5*/
}
.row-capitulo{
    width: 78%;
    padding: 120px 0px;
}

.capitulo-intro{
    width: 100%;
    height: 600px;
    padding-right: 40px;
    text-align: justify;
}

.capitulo-intro h1{
    color: #8dbf41;
    font-size: 28px;
    text-align: left;
}

.nicescroll-rails{
    background: rgba(218, 219, 220, 0.7) !important;
    border-radius: 8px;
    width: 8px !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
}

.nicescroll-rails div{
    background: #8dbf41 !important;
    width: 8px !important;
    border: none !important;
}

.capitulo-grafica{
    width: 100%;
    text-align: center;
}

.capitulo-grafica img{
    width: 70%;
    height: auto;
    border: 1px solid lightgrey;
    padding: 5px;

}

.imagenes-change{
    width: 70%;
    min-height: 20px;
    margin: auto;
    border: 1px solid lightgrey;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    top: 10px;
    opacity: 0;

}

.imagenes-change ul{
    text-align: center;
    list-style: none;
    margin-bottom: 0px;
}

.imagenes-change ul li{
    display: inline-block;
    margin: 0px 10px;
}

.imagenes-change ul li a,.imagenes-change ul li a:hover{
    display: block;
    color: #8dbf41;
    text-decoration: none;
    cursor: pointer;
}

.cap-img-principal{
    position: relative;
    top: -20px;
    opacity: 0;
}

.row-leccion{
    width: 78%;
    padding: 80px 0px 100px 0px;
}

.panel-intro .panel-heading{
    background: #8dbf41;
    border: 1px solid #8dbf41;
}

.panel-intro .panel-body{
    border: 1px solid #DDD;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    background: #FFF;
    color: #000000;
}

.leccion-respuestas{
    list-style: none;
}

.leccion-respuestas li input[type="checkbox"]{
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.btn-finalizar,.btn-finalizar:hover,.btn-finalizar:focus{
    background: #8dbf41;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.btn-salir,.btn-salir:hover{
    background: #333e48;
    color: #ffffff;
}

.botones-finalizar{
    text-align: center;
    padding: 20px;
}

.col-resultado{
    padding-right: 20px;
}

.panel-heading{
    color: #FFF !important;
    background: #8dbf41 !important;
    border-bottom: 1px solid silver;
    margin-bottom: 1px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd !important;
    background: #FFF !important;
    color: #FFF !important;
}

.panel-body a{
    color: #000000 !important;
}

.col-aciertos{
    padding-right: 10px;
    padding-left: 10px;
}

.col-erradas{
    padding-left: 20px;
}

.respuesta-acierto{
    position: relative;
    top: 1px;
    margin-left: 10px;

}

.respuesta-errada{
    position: relative;
    top: 1px;
    margin-left: 10px;
}

.respuesta-vacia{
    position: relative;
    top: 1px;
    margin-left: 10px;
}

.respuesta i{
    margin-right: 5px;
    font-size: 16px;
}

.respuesta-errada i{
    color: red;
}

.respuesta-acierto i{
    color: #8dbf41;
}

.respuesta-vacia i{
    color: #31B0D5;
}

.ir-articulo,.ir-articulo:hover{
    color: #FFF;
    text-decoration: none;
}

.titulo{
    color: #8dbf41;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 24px;
}

.sub-titulo{
    font-size: 18px;
    font-weight: normal;
}

.leer-mas,.leer-mas:hover,.leer-mas:focus{
    color: #8dbf41;
    text-decoration: none;
}

.body-capitulo{
    background: url("../img/cap_bg_end.jpg") repeat;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 1000 !important;
}
.list-img img{
    cursor: zoom-in;
}