{% extends 'base.html' %}
{% load snnipet_generales %}
{% block title %}LUS | Bienvenidos{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block scripts %}
{% endblock %}

 {% block contenido %}

    <div class="container container-banner padding-0">
        <img src="{{ STATIC_URL }}img/banner.jpg" class="banner-imagen">
    </div>

    <div class="container container-intro padding-0">
        <div class="row row-intro margin-0">
            {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-intro padding-0 text-center">
                <h2>Herramienta Didáctica de Trabajo Final de Tesis </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-intro2 padding-0 text-justify">
                <p>
                    LUS es una herramienta didáctica creada para el aprendizaje de seguridad en ambientes UMTS.
                    Este curso en línea permite sin restricción alguna que las personas en cualquier parte del mundo puedan aprender sobre la seguridad en redes
                    UMTS, las cuales se pueden apoyar mediante lecciones en línea, foros, y contenido. Dedicado a las personas que quieran aprender más sobre esta tecnología que esta presente en
                    nuestras vidas.
                </p>
            </div>
        </div>
    </div>
    <div class="container container-intro padding-0" style="margin-bottom: 120px;">

        <div class="row row-intro row-intro2 margin-0">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-intro col-intro2 padding-0">
                <h2>Servicios</h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-intro col-intro-first col-mod padding-0">
                {% if modulo1 %}
                <p class="p-titulo"><i class="{{ modulo1.imagen }}"></i>{{ modulo1.titulo }}</p>

                {{ modulo1.texto|safe }}
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-intro col-intro-centro col-mod padding-0">
               {% if modulo2 %}
                <p class="p-titulo"><i class="{{ modulo2.imagen }}"></i>{{ modulo2.titulo }}</p>

                {{ modulo2.texto|safe }}
                {% endif %}
            </div>

            <div class="ccol-xs-12 col-sm-12 col-md-4 col-lg-4 col-intro col-intro-last col-mod padding-0">
                {% if modulo3 %}
                <p class="p-titulo"><i class="{{ modulo3.imagen }}"></i>{{ modulo3.titulo }}</p>

                {{ modulo3.texto|safe }}
                {% endif %}
            </div>
        </div>
    </div>

 {% endblock %}


{% block bootstrap %}

{% endblock %}
