{% extends 'base.html' %}
{% load snnipet_generales %}
{% block title %}LUS | Bienvenidos{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block scripts %}
{% endblock %}

 {% block contenido %}
    <div class="container container-banner padding-0">
        <img src="{{ STATIC_URL }}img/banner.jpg" class="banner-imagen">
    </div>

    <div class="container container-intro padding-0">
        <div class="row row-intro margin-0">
            <div class="col-xs-12 col-lg-12 col-md-12  col-sm-12 col-intro padding-0 text-center">
                <h2>Curso de seguridad UMTS online gratuito</h2>
            </div>
            <div class="col-xs-12 col-lg-12 col-md-12  col-sm-12 col-intro2 padding-0 text-justify">
                <p>
                    LUS es una herramienta didáctica para que las personas puedan aprender mán sobre seguridad en redes UMTS.
                    Es un curso en línea que permite a cualquier persona en cualquier parte del mundo aprender sobre la seguridad en redes
                    celulares, las cuales se pueden apoyar mediante lecciones en línea, foros, y contenido en línea para que puedan aprender
                    con más facilidad. Dedicado para las personas que quieran aprender más sobre esta tecnología que esta presente en
                    nuestras vidas.
                </p>
            </div>
        </div>
    </div>
    <div class="container container-intro padding-0" style="margin-bottom: 120px;">

        {% pintar_texto "introduccion"%}
    </div>

 {% endblock %}


{% block bootstrap %}

{% endblock %}
